body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 16px; 
    background: linear-gradient(to right, #e0f2f7, #a8d5e3); 
    overflow-y: auto; /* Active le défilement vertical si nécessaire */
    overflow-x: hidden; /* Désactive le défilement horizontal */
    
}
header {
    background: linear-gradient(135deg, rgba(34, 66, 124, 0.8), rgba(50, 90, 150, 0.6));
    padding: 0.5%;
    text-align: left;
    color: #F8F8F8;
    border-radius: 2px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border: 1px solid rgba(255, 255, 255, 0.2);
    
}

header h1 a {
    font-size: 0.4em; /* Ou une autre valeur plus petite */
    text-decoration: none;
    color: black;


}

h1 span {           /* distance texte / ancres */
    margin-right: 50%; 
}


main {
    padding: 4%; 
}
/*--------------------------------------------------------------------------------------------------------------------*/




/* Position des boutons et sections */
#Add {
    position: absolute;
    top: 40%;
    right: 2%;
    margin: 2%;
    width: 20%;
    max-width: 200px; 
}
.bouton-image-texte {
    display: inline-flex;
    align-items: center;
    padding: 2% 4%;
    border: none;
    border-radius: 8px; /* Plus arrondi */
    cursor: pointer;
    background: linear-gradient(135deg, rgb(114, 193, 239), rgb(80, 160, 220)); /* Dégradé */
    color: white; /* Texte blanc pour contraste */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition plus douce */
    font-size: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre douce */
}

.bouton-image-texte:hover {
    background: linear-gradient(135deg, #1e4755, #2c6a85); /* Dégradé plus foncé au survol */
    transform: scale(1.03); /* Réduction de l'effet d'agrandissement */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Ombre plus prononcée */
}
footer {
  width: 100%;
  background-color: #cbc9c9;
  padding: 1%;
  text-align: center;
  font-size: 80%;
}