body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-size: 16px; /* Base font size for percentage calculations */
}

header {
    background-color: rgb(34, 66, 124, 0.5);
    padding: 2%; /* Percentage based padding */
    text-align: center;
    border-radius: 1%; /* Percentage based border radius */
}

main {
    padding: 4%; /* Percentage based padding */
}

#Add {
    position: absolute;
    top: 40%;
    right: 2%; /* Reduced right margin */
    margin: 2%;
    width: 20%; /* Added a width, it can be improved */
    max-width: 200px; /* Added a max width so that the button isn't too wide */
}

.bouton-image-texte {
    display: inline-flex;
    align-items: center;
    padding: 2% 4%; /* Percentage based padding (top/bottom, left/right) */
    border: none;
    border-radius: 2%; /* Percentage based border radius */
    cursor: pointer;
    background-color: rgb(114, 193, 239);
    color: rgb(0, 0, 0);
    transition: transform 0.5s ease;
    font-size: 100%;/* Percentage based font size (relative to body font size)*/
}

.bouton-image-texte:hover {
    background-color: #1e4755;
    transform: scale(1.05);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #cbc9c9;
    padding: 1%; /* Percentage based padding */
    text-align: center;
    font-size: 80%; /* Make the footer text slightly smaller */
}
